.Product_Container {
    padding: 2rem 2rem 1rem 3rem;
}

.Product_Container h2 {
    font-weight: 550;
    font-size: 1.4rem;
    text-align: center;
    align-items: center;
}

.product_edit_form {
    width: 40rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.product_edit_form input {
    margin-bottom: 1.5rem;
    padding: 10px 0;
    font-size: 1.1rem;
    border: none;
    border-bottom: 1px solid #545353;
    outline: none;
    padding-left: 10px;
}

.productUpload {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.productUpload .icon {
    margin-left: 10px;
    cursor: pointer;
}

.uploadImg {
    width: 8rem;
    height: 8rem;
}

.uploadImg img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


/* Tablet Devices :: Media Queries */
@media screen and (min-width : 768px) and (max-width : 1024px) {
    .Product_Container h2 {
        font-size: 1.7rem;
    }

    .product_edit_form {
        width: 100%;
    }

    .product_edit_form input {
        font-size: 1.3rem;
        border-bottom: 1px solid #545353;
    }

}


/* Mobile Devices :: Media Queries */
@media screen and (min-width : 320px) and (max-width : 480px) {
    .Product_Container {
        padding: 2rem 1rem 1rem 1rem;
    }

    .Product_Container h2 {
        font-size: 1.1rem;
    }

    .product_edit_form {
        width: 98%;
    }

    .product_edit_form input {
        font-size: 1.05rem;
        border-bottom: 2px solid #545353;
    }
}