.auth_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 45vw; */
    margin: 2rem 0;
}


.logo__ {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    margin-bottom: 0;
}

.logo__ h2 {
    margin-left: 5px;
    font-size: 1.5rem;
    font-weight: 550;
}

.logo__ .shop_icon {
    font-size: 1.4rem;
}

.msg {
    margin: 10px 0;
    width: 100%;
    background-color: #ef5858;
    color: white;
    font-size: 1rem;
    text-align: center;
    padding: 5px 0;
    border-radius: 5px;
}

.auth_form {
    width: 28rem;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 0 2.5px #b5b4b4;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.auth_form h2 {
    font-weight: 550;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    color: #2a2a2a;
}

.auth_form .input {
    width: 100%;
    margin-bottom: 1.5rem;
    padding: 10px 0;
    font-size: 1rem;
    border: none;
    border-bottom: 1px solid #545353;
    outline: none;
}

.auth_form .auth_btn {
    background-color: #18273a;
    padding: 8px 0;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 1.1rem;
    cursor: pointer;
    transition: 0.3s ease-in;
    outline: none;
    margin: 0.5rem 0 0 0;
}

.auth_form .auth_btn:hover {
    background-color: #030e21;
}


.caution {
    font-size: 1.05rem;
    color: #545353;
    margin: 1rem 0;
}

.info {
    width: 100%;
    padding: 7px;
    font-size: 1rem;
    /* margin-top: 15px; */
    outline: none;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 2.5px #b5b4b4;
}

.info .link {
    text-decoration: none;
    color: #3b3b3b;
}

.info .link:hover {
    color: #1b1b1b;
}

.Password {
    position: relative;
}

.ShowPassword {
    position: absolute;
    right: 10px;
    bottom: 30px;
    cursor: pointer;
}


/* Tablet Devices :: Media Queries */
@media screen and (min-width : 768px) and (max-width : 1024px) {
    .logo__ h2 {
        font-size: 2rem;
    }

    .logo__ .shop_icon {
        font-size: 1.8rem;
    }

    .auth_form {
        width: 80%;
    }

    .auth_form h2 {
        font-size: 1.7rem;
    }

    .auth_form input {
        font-size: 1.4rem;
        border-bottom: 1px solid #545353;
    }

    .auth_form .auth_btn {
        font-size: 1.4rem;
    }

    .auth_form .auth_btn:hover {
        background-color: #030e21;
    }

    .caution {
        font-size: 1.2rem;
        color: #545353;
        margin: 1rem 0;
    }

    .info {
        font-size: 1.3rem;
    }

    
}

/* Mobile Devices :: Media Queries */
@media screen and (min-width : 320px) and (max-width : 480px) {
    .logo__ h2 {
        margin-left: 0;
        font-size: 1.5rem;
    }

    .logo__ .shop_icon {
        font-size: 1.5rem;
    }

    .auth_form {
        width: 90%;
    }

    .auth_form h2 {
        font-size: 1.4rem;
        /* text-align: left; */
    }

    .auth_form input {
        font-size: 1.1rem;
        border-bottom: 1px solid #545353;
    }

    .auth_form .auth_btn {
        font-size: 1.1rem;
    }

    .auth_form .auth_btn:hover {
        background-color: #030e21;
    }

    .caution {
        font-size: 0.9rem;
        color: #545353;
        margin: 1rem 0;
    }

    .info {
        font-size: 1rem;
    }
    
}