.ProductWrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    transition: all .3s ease;
}

@media screen and (min-width : 768px) and (max-width : 1024px) {
    .ProductWrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Mobile Devices :: Media Queries */
@media screen and (min-width : 320px) and (max-width : 480px) {
    .ProductWrapper {
        grid-template-columns: 1fr;
    }
}

/* Mobile Devices :: Media Queries */
@media screen and (max-width : 968px) and (orientation: landscape) {
    .ProductWrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}