.small_screen_sidebar {
    display: none;
}

.sidebar {
    flex: 1;
    min-height: 100vh;
    width: 100%;
    background-color: #fbfbff;
    /* position: sticky; */
    /* top: -50px; */
    padding: 0 1rem 1rem 2.1rem;
    border-right: 1px solid #dddddd;
}

.adminImg {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.adminImg .admin_icon {
    font-size: 7rem;
    /* height: 8rem; */
    border-radius: 50%;
    border: 1px solid #b6b6b6;
}

.sidebarMenuBar, .sidebarMenuBar_mobile {
    display: none;
}

.sidebarWrapper {
    padding: 10px;
    color: #555;
    /* background-color: red; */
}

.sidebarMenu {
    margin-bottom: 10px;
}

.sidebarTitle {
    font-size: 1.2rem;
    color: #5f5f5f;
    text-align: center;
    margin: 10px 0 1rem 0;
    font-weight: normal;
}

.sidebarList {
    list-style: none;
    padding: 5px;
}

.sidebarList .link {
    text-decoration: none;
    color: #2b2b2b;
}

.sidebarListItem {
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 10px;
    font-size: 1.1rem;
    margin-bottom: 10px;
}

.sidebarListItem.active,
.sidebarListItem:hover {
    background-color: #f0f0ff;
}

.sidebarIcon {
    margin-right: 5px;
    font-size: 1.2rem !important;
}



/* Tablet Devices :: Media Queries */
@media screen and (min-width : 768px) and (max-width : 1024px) {
    .small_screen_sidebar {
        display: none;
    }


    .sidebar { 
        flex: 0.1;
        padding: 0 0 1rem 5px;
    }

    .adminImg {
        margin-top: 20px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }

    .adminImg .admin_icon {
        font-size: 1.85rem;
        /* height: 8rem; */
        border-radius: 50%;
        border: 1px solid #b6b6b6;
    }

    .sidebarMenuBar {
        display: block;
        font-size: 1.75rem;
        margin-bottom: 20px;
    }

    .sidebarMenuBar_mobile {
        display: none;
    }

    .sidebarTitle {
        display: none;
    }

    .sidebarListItem span {
        display: none;
    }

    .sidebarIcon {
        margin-right: 5px;
        font-size: 1.75rem !important;
    }
}

/* Mobile Devices :: Media Queries */
@media screen and (min-width : 320px) and (max-width : 480px) {
    .sidebarMenuBar_mobile {
        display: block;
        font-size: 1.5rem;
        margin-bottom: 50px;
        position: absolute;
        /* top: -2rem; */
        left: 10px;
        cursor: pointer;
    }

    .small_screen_sidebar {
        position: absolute;
        display: block;
        background-color: #dddddd;
        width: 17rem;
        height: 30rem;
        padding: 2rem 1rem;
        z-index: 100;
    }

    .sidebar {
        display: none;
    }

    .small_screen_sidebar .adminImg {
        margin-top: 20px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }

    .small_screen_sidebar .adminImg .admin_icon {
        font-size: 2rem;
        /* height: 8rem; */
        border-radius: 50%;
        border: 1px solid #b6b6b6;
    }


    .small_screen_sidebar .sidebarTitle {
        display: block;
        font-size: 1.2rem;
    }

    .small_screen_sidebar .sidebarListItem span {
        display: none;
    }

    .small_screen_sidebar .sidebarListItem {
        font-size: 1.05rem;
    }

    .small_screen_sidebar .sidebarIcon {
        margin-right: 5px;
        font-size: 1.1rem !important;
    }
}

/* Mobile Devices :: Media Queries */
@media screen and (max-width : 968px) and (orientation: landscape) {
    .small_screen_sidebar {
        display: none;
    }


    .sidebar {
        flex: 0.1;
        padding: 0 0 1rem 5px;
    }

    .adminImg {
        margin-top: 20px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }

    .adminImg .admin_icon {
        font-size: 1.7rem;
        /* height: 8rem; */
        border-radius: 50%;
        border: 1px solid #b6b6b6;
    }

    .sidebarMenuBar {
        display: block;
        font-size: 1.6rem;
        margin-bottom: 20px;
    }

    .sidebarMenuBar_mobile {
        display: none;
    }

    .sidebarTitle {
        display: none;
    }

    .sidebarListItem span {
        display: none;
    }

    .sidebarIcon {
        margin-right: 5px;
        font-size: 1.5rem !important;
    }
}