.OrdersContainer {
    width: 100%;
    padding: 2rem 1.2rem 1rem 1rem;
    min-height: 98vh;
    position: relative;
}

.OrdersContainer h2 {
    font-weight: 550;
    font-size: 1.5rem;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.OrdersContainer h2 .icon {
    margin-right: 5px;
}

._Table_ .head_ {
    width: 100%;
    display: grid;
    grid-template-columns: 10.5rem 6.7rem 7rem 7.9rem 10rem 14rem 4rem;
    border-bottom: 1px solid #d4d4d4;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.tbody_ .tb_content_ {
    width: 100%;
    display: grid;
    grid-template-columns: 8.8rem 5rem 6rem 6rem 9rem 12rem 4rem;
    gap: 1.5rem;
    margin-bottom: 10px;
    border-bottom: 1px solid #f5f5f5;
    padding-bottom: 10px;
}

.tbody_ .tb_content_ p {
    font-weight: normal;
    font-size: 1rem;
}

.small {
    display: none;
}

._Info_ {
    font-weight: bold;
    background-color: #3ab13a;
    color: white;
    border-radius: 5px;
    text-align: center;
    padding: 4px;
    font-size: 0.9rem !important;
}

._danger_ {
    background-color: #e56565;
}

._pending_ {
    background-color: #3434a6;
}

.userAction {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.userAction .icon {
    font-size: 1.2rem;
    cursor: pointer;
}

.userAction .trash {
    color: #ba1010;
}


/* Tablet Devices :: Media Queries */
@media screen and (min-width : 768px) and (max-width : 1024px) {
    .OrdersContainer {
        width: 100%;
        padding: 1rem 1rem 1rem 1rem;
    }

    .OrdersContainer h2 {
        font-size: 1.75rem;
    }

    .Tablet_display {
        display: none;
    }

    ._Table_ .head_ {
        width: 100%;
        display: grid;
        grid-template-columns: 15rem 9.5rem 12.5rem 4rem;
        border-bottom: 1px solid #d4d4d4;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }


    .tbody_ .tb_content_ {
        width: 100%;
        display: grid;
        grid-template-columns: 13rem 7.5rem 11rem 4rem;
        gap: 2rem;
        margin-bottom: 10px;
        border-bottom: 1px solid #f5f5f5;
        padding-bottom: 10px;
    }

    .big {
        display: none;
    }

    .small {
        display: block;
    }

    .tbody_ .tb_content_ p {
        font-weight: normal;
        font-size: 1.35rem;
    }
}


/* Mobile Devices :: Media Queries */
@media screen and (min-width : 320px) and (max-width : 480px) {
    .OrdersContainer {
        width: 100%;
        padding: 2rem 1rem 1rem 1rem;
    }

    .OrdersContainer h2 {
        font-size: 1.35rem;
    }

    .Tablet_display {
        display: none;
    }

    ._Table_ .head_ {
        grid-template-columns: 10.5rem 6.5rem 4rem;
    }
    

    .tbody_ .tb_content_ {
        width: 100%;
        display: grid;
        grid-template-columns: 8.5rem 5.5rem 3.2rem;
    }

    .big {
        display: none;
    }

    .small {
        display: block;
    }

    .Mobile_display {
        display: none;
    }

    .tbody_ .tb_content_ p {
        font-weight: normal;
        font-size: 1.05rem;
    }

    .userAction .icon {
        font-size: 1.1rem;
        cursor: pointer;
    }
}