.Users_Container {
    padding: 2rem 1.2rem 1rem 1rem;
}

.Users_Container h2 {
    font-weight: 550;
    font-size: 1.5rem;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.tablet_view_ {
    display: none;
}

.mobile_view_ {
    display: none;
}

.table .head {
    width: 100%;
    display: grid;
    grid-template-columns: 13.8rem 10.9rem 1fr 10rem 4rem;
    border-bottom: 1px solid #d4d4d4;
    padding-bottom: 10px;
}

.tbody .tb_content {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 9rem 1.4fr 8rem 4rem;
    gap: 2rem;
}

.tbody .tb_content p {
    font-weight: normal;
    font-size: 1rem;
}

.userAction {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.userAction .icon {
    font-size: 1.2rem;
    cursor: pointer;
}

.userAction .trash {
    color: #ba1010;
}


/* Tablet Devices :: Media Queries */
@media screen and (min-width : 768px) and (max-width : 1024px) {
    .Users_Container {
        padding: 2rem 1rem 1rem 1.5rem;
    }

    .Users_Container h2 {
        font-weight: 550;
        font-size: 1.75rem;
    }


    .table {
        display: none;
    }

    .tablet_view_ {
        width: 100%;
        display: block;
    }

    .tablet_view_ .head {
        width: 100%;
        display: grid;
        grid-template-columns: 15.6rem 11rem 10rem 5rem;
        border-bottom: 1.1px solid #d4d4d4;
        padding-bottom: 10px;
    }

    .tbody .tb_content {
        width: 100%;
        display: grid;
        grid-template-columns: 14rem 9rem 7rem 5rem;
        gap: 2rem;
    }

    .tbody .tb_content p {
        font-weight: normal;
        font-size: 1.35rem;
    }


    .userAction .icon {
        font-size: 1.45rem !important;
        cursor: pointer;
    }
}


/* Mobile Devices :: Media Queries */
@media screen and (min-width : 320px) and (max-width : 480px) {
    .Users_Container {
        width: 100%;
        padding: 10px 1rem 1rem 1rem;
    }

    .Users_Container h2 {
        font-weight: 550;
        font-size: 1.35rem;
    }


    .table {
        display: none;
    }

    .tablet_view_ {
        display: none;
    }

    .mobile_view_ {
        width: 100%;
        display: block;
    }

    .mobile_view_ .head {
        width: 100%;
        display: grid;
        grid-template-columns: 8rem 9rem 5rem;
        border-bottom: 1px solid #d4d4d4;
        padding-bottom: 10px;
    }

    .mobile_view_ .head p {
        font-size: 1.2rem;
    }

    .tbody .tb_content {
        width: 100%;
        display: grid;
        grid-template-columns: 6rem 7rem 3rem;
        gap: 2rem;
    }

    .tbody .tb_content p {
        font-weight: normal;
        font-size: 1.1rem;
    }


    .userAction .icon {
        font-size: 1.15rem !important;
        cursor: pointer;
    }
}