.Orders_container {
    width: 100%;
    padding: 2rem 3.5rem 3rem 3.5rem;
    background-color: white;
    min-height: 98vh;
}


.orderHistory {
    width: 100%;
    height: 100%;
}

.Orders_container h2 {
    font-weight: 550;
    font-size: 1.3rem;
    /* margin-bottom: 1rem; */
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
}

.Orders_container h2 .icon {
    margin-right: 5px;
}

.tablet_screen {
    display: none;
}

.mobile_screen {
    display: none;
}

.orderHead, .history .order_ {
    width: 100%;
    display: grid;
    grid-template-columns: 1.5fr 7rem 1fr 1.2fr 1.5fr 4rem;
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 10px;
    font-weight: 550;
    gap: 2rem;
}

.history .order_ {
    width: 100%;
    border-bottom: 1px solid #f0f0f0;
    padding-bottom: 15px;
    margin-top: 5px;
}

.history .order_:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

.history .order_ p {
    font-size: 1rem;
    font-weight: normal;
}

.view {
    margin-left: 20px;
    cursor: pointer;
}

.pagination_orderHistory {
    position: absolute;
    margin-top: 2rem;
    background-color: #ccd4ee;
    /* min-width: 5rem;
    max-width: 5rem; */
    padding: 5px 0;
    border-radius: 2px;
}

.pagination_orderHistory .link {
    font-size: 1rem;
    color: #626364;
    padding: 0 10px;
    border-right: 1px solid #f3f3f3;
    text-decoration: none;
}


/* Tablet Devices :: Media Queries */
@media screen and (min-width : 768px) and (max-width : 1024px) {
    .Orders_container {
        width: 100%;
        padding: 2rem 3rem 3rem 2.5rem;
        background-color: white;
        min-height: 98vh;
    }

    .Orders_container h2 {
        font-size: 1.5rem;
        /* margin-bottom: 1rem; */
        border-bottom: 2px solid #eeeeee;
    }

    .big_screen {
        display: none;
    }

    .mobile_screen {
        display: none;
    }

    .tablet_screen {
        display: block;
    }

    .orderHead,
    .history .order_ {
        grid-template-columns: 13rem 10rem 9rem 4rem;
        border-bottom: 2px solid #eeeeee;
    }

    .history .order_ p {
        font-size: 1.2rem;
        font-weight: normal;
    }

    .pagination_orderHistory .link {
        font-size: 1.2rem;
    }

}


/* Mobile Devices :: Media Queries */
@media screen and (min-width : 320px) and (max-width : 480px) {
    .Orders_container {
        width: 100%;
        padding: 2rem 5px 3rem 1rem;
        background-color: white;
        min-height: 98vh;
    }

    .Orders_container h2 {
        font-size: 1.3rem;
        /* margin-bottom: 1rem; */
        border-bottom: 1px solid #eeeeee;
    }

    .big_screen {
        display: none;
    }

    .tablet_screen {
        display: none;
    }

    .mobile_screen {
        display: block;
    }


    .orderHead,
    .history .order_ {
        grid-template-columns: 10rem 6rem 4rem;
        border-bottom: 1px solid #eeeeee;
        gap: 10px;
    }

    .history .order_ p {
        font-size: 1rem;
        font-weight: normal;
    }

    .pagination_orderHistory .link {
        font-size: 1rem;
    }   
}